[submodule "backend"]
	path = backend
	url = https://github.com/vetsforpets/Back-PF-VetsForPets.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/vetsforpets/Front-PF-VetsForPets.git
